
/*
    colors
    green font: 557c3e
    yellow header: f6b319
    background and menu items: 61122f
    footer grey background: 363636

*/
*{
    box-sizing: border-box;
}
body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
.fa {
    font-size: 2em;
}
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
.navbar-light .navbar-toggler {
    color: #951c49;
    border-width: 2px;
    border-color: #951c49;
}
.navbar-light .navbar-toggler a:hover {
    color: #951c49;
    border-color: #951c49;
}
.navbar-brand h1 {
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #4d0e0e;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p {
    margin-top: 5px;
    color: #557c3e;
    text-transform: uppercase;
    font-size: .7em;
}
#logo-img {
    background: url('../images/restaurant-logo_large.png');
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
}
.navbar-expand {
    padding-top: 25px;
}
#nav-list a {
    color: #951c49;
}
#nav-list a:hover{
    background: #e7e7e7;
}

li span{
    font-size: .5em;
}

#phone a {
    display: inline-block;
    text-align: right;
    font-size: 1.5em;
}

#call-btn {
    border: 2px solid;
    border-color: #fff;
    background-color: #f6b319;
    margin: 15px;
    border-radius: 5px;
    color: #951c49;
}
#call-btn a {
    font-size: 1.25em;
    color: #951c49;
}
#call-btn a:hover {
    color: white;
}
#xs-deliver {
    font-size: .6em;
    margin: -10px 5px 5px 5px;
}

.img-responsive {
    width: 100%;
    height: 100%;
}
.container .jumbotron {
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c14;
}

#menu-tile, #specials-tile, #map-tile {
    height: 250px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
    background: url('../images/Beef Bowl.jpg') no-repeat center center;
    background-size: cover;
}
#specials-tile {
    background: url('../images/noodle.jpg') no-repeat center center;
    background-size: cover;
}

#menu-tile span, #specials-tile span, #map-tile span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    opacity: .8;
    font-family: 'Lora', serif;
}

.page-footer{
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.page-footer div.row{
    margin-bottom: 35px;
}
.page-footer hr {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}
#hours, #address{
    line-height: 2;
}
#hours > span, #address > span{
    font-size: 1.3em;
}
#address p{
    color: #557c3e;
    font-size: .8em;
    line-height: 1.8;
}
#testimonials{
    font-style: italic;
}
#testimonials p:nth-child(2){
    margin-top: 25px;
}

/*extra small*/
@media (max-width: 767px) {
    .navbar-brand h1{
        font-size: 5vw;
    }
    .fa{
        font-size: 1.5em;
        margin-right: 10px;
    }
    .jumbotron {
        margin-top: 30px;
        padding: 0px;
    }
    .page-footer section{
        text-align: center;
    }
    .page-footer section hr{
        width: 75%;
    }
}

/*extra small*/
@media (max-width: 600px) {
    .navbar-brand h1 {
        font-size: 6vw;
    }

}

/*small*/
@media (min-width: 768px) and (max-width: 991px) {
    .container .jumbotron {
        background: url('../images/restaurant-sm.jpg') no-repeat;
        height: 470px;
        margin: 5px 5px 5px 0;
    }
}

/*large*/
@media (min-width: 992px) and (max-width: 1199px) {
    .container .jumbotron {
        background: url('../images/restaurant-lg.jpg') no-repeat;
        height: 600px;
        margin: 5px 5px 5px 0;
    }
}

/*extra large*/
@media (min-width: 1200px){
    .container .jumbotron {
        background: url('../images/restaurant-xlg.jpg') no-repeat;
        width: 100%;
        height: 100%;
        height: 675px;
    }
}

/*medium and up*/
@media (min-width: 768px) {
    li .fa {
        width: 100%;
        display: inline-block;
        text-align: center;
    }
}

/*medium and large*/
@media (min-width: 768px) and (max-width: 1199px) {
    #logo-img {
        background: url('../images/restaurant-logo_medium.png') no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 5px 5px 0;
    }
}